{% extends 'base.html.twig' %}

{% block title %}Shelving index{% endblock %}

{% block body %}
    <h1>Shelving index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for shelving in shelvings %}
            <tr>
                <td>{{ shelving.id }}</td>
                <td>{{ shelving.name }}</td>
                <td>{{ shelving.description }}</td>
                <td>
                    <a href="{{ path('shelving_show', {'id': shelving.id}) }}">show</a>
                    <a href="{{ path('shelving_edit', {'id': shelving.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('shelving_new') }}">Create new</a>
{% endblock %}
